eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 13201
spring:
  application:
    name: blog-service
  zipkin:
    base-url: http://localhost:9411/
    sender:
      type: web
  sleuth:
    sampler:
      probability: 1.0

logging:
  level:
#    org.springframework.web: debug
    org.springframework.cloud: debug
